Organizer/obj/Debug/net6.0
.DS_Store
Organizer/obj/Debug/net6.0/Organizer.AssemblyInfo.cs
Organizer/obj/Debug/net6.0/Organizer.AssemblyInfoInputs.cache
Organizer/obj/Debug/net6.0/Organizer.GeneratedMSBuildEditorConfig.editorconfig
Organizer/obj/Debug/net6.0/Organizer.RazorAssemblyInfo.cache
Organizer/obj/Debug/net6.0/Organizer.assets.cache

