<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Organizer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Organizer.styles.css" asp-append-version="true" />
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<header>
   
</header>
    <h2 class="text-lg"> Stefano</h2>
@RenderBody()
    <div class="border border-gray-400 max-w-xs mx-auto bg-orange-200 shadow-md rounded p-4 mt-4 h-80">
        <p class="text-lg font-semibold mb-2">Your Note Title</p>
        <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna at nisi placerat bibendum.</p>
    </div>


<footer class="border-top footer text-muted text-lg ">
    <div class="container">
        &copy; 2022 - Organizer - <a asp-area=""  asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
